<!DOCTYPE html>
<html>
  <head>
    <title>Credit Card Fraud Detection Web App</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link href="https://t4.ftcdn.net/jpg/03/34/40/37/360_F_334403790_2bxunpFUCfMNzqfFWxmS36XXMnY9SgrK.jpg" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx4S1pchchQzUamiClIpsU9HUFo6bf5EoYnA&usqp=CAU" alt="dev">
        <h1>
          <p style="text-align: center">Credit Card Fraud Detection Rest API</p>
          
        </h1>
      </div>
    </header>

    <div class="ml-container">
      <p style="text-align: center">
        Enter Your last 30 transactions(in order):
      </p>

      <form action="{{ url_for('predict')}}" method="POST">
        <!-- <input type="text" name="comment"/> -->
        <div class="justify">
          <textarea name="message" rows="8" cols="50"></textarea>
        </div>
        <br/>

        <input type="submit" class="btn-info" value="Predict" />
      </form>
    </div>
  </body>
</html>
